@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  @apply bg-background text-foreground;
  font-family: 'Inter', sans-serif;
}

.grid-background {
  background-color: #f8fafc;
  background-image:
    linear-gradient(rgba(0, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 128, 128, 0.1) 1px, transparent 1px);
  background-size: 2rem 2rem;
}


@layer base {
  :root {
    --background: 0 0% 100%; /* hsl(0 0% 100%) */
    --foreground: 222.2 84% 4.9%; /* hsl(222.2 84% 4.9%) */
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 173 98% 30%; /* hsl(173 98% 30%) */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%; /* hsl(210 40% 96.1%) */
    --secondary-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 84% 4.9%;

    --destructive: 0 84.2% 60.2%; /* hsl(0 84.2% 60.2%) */
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%; /* hsl(214.3 31.8% 91.4%) */
    --input: 214.3 31.8% 91.4%;
    
    --ring: 173 98% 30%;
    --radius: 0.5rem;
  }
}